<div class="col-md-11">
    <div class="row">
        <h1 style="margin-top:0px;">History</h1>
    </div>
</div>
<div class="col-md-1">
    <div class="row" ng-init="history_sort_order=true">
        <button ng-click="history_sort_order=false" class="btn btn-default"><i class="fa fa-sort-amount-asc"></i></button>
        <button ng-click="history_sort_order=true" class="btn btn-default"><i class="fa fa-sort-amount-desc"></i></button>
    </div>
</div>
<div class="col-md-12">
    <div class="row">
        <hr>
        <div ng-repeat="item in actiondata | orderBy:'commit_date':history_sort_order" class="panel panel-default" style="border-left:15px solid #216C2A">
            <div class="panel-body">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-6"><i class="fa fa-sticky-note text-muted"></i> {{item.message}}</div>
                        <div class="col-md-6"><i class="fa fa-calendar text-muted"></i> Commit date: {{item.commit_date | date}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><i class="fa fa-github text-muted"></i> <a href="{{item.commit_url}}">Commit {{item.commit_id | limitTo: 9}}</a></div>
                        <div class="col-md-6"><i class="fa fa-calculator text-muted"></i> Calculation took {{item.elapsed_time }} seconds</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><i class="fa fa-github text-muted"></i> <a href="{{item.html_url}}">Repository</a></div>
                        <div class="col-md-6"><i class="fa fa-calendar text-muted"></i> Calculation date: {{item.calculation_date | date}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"><i class="fa fa-users text-muted"></i> Committed by {{item.committer_name}}.</div>
                        <div class="col-md-6"><i class="fa fa-shield text-muted"></i> <img ng-src="/shield/{{username}}/{{repo}}/{{item.repo_total_cost}}"></div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="row">
                        <h1>{{(item.calculation_value || "0") | currency:item.calculation_unit}} <small>({{item.calculation_currency}})</small></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
