<div class="row">
	<div class="col-lg-8">
		<h1>Webhooks ({{actiondata.length}})</h1>	
	</div>
	<div class="col-lg-4">
		<div class="input-group h1">
			<span class="input-group-addon" id="sizing-addon2"><i class="fa fa-search"></i></span>
			<input type="text" class="form-control" placeholder="Search" aria-describedby="sizing-addon2" ng-model="searchText">
		</div>
	</div>
</div>
<hr/>
<div ng-repeat="webhook in actiondata | filter:searchText" class="list-group">			
	<div class="media">
		<div class="media-left">
			<a href="#/{{username}}/{{repo}}/webhooks/{{webhooks.id}}"><i class="fa fa-share-alt" style="color:green"></i></a>
		</div>
		<div class="media-body">
			<div class="col-md-2">
				<span>{{webhook.host}}</span>
			</div>
			<div class="col-md-2">
				<span>{{webhook.path}}</span>
			</div>
			<div class="col-md-2">
				<span>{{webhook.events.failure}}</span>
			</div>			
                        <div class="col-md-2">
                                <span>{{webhook.events.started}}</span>
                        </div>
                        <div class="col-md-2">
                                <span>{{webhook.events.success}}</span>
                        </div>
                        <div class="col-md-2">
                                <span>{{webhook.token}}</span>
                        </div>
		</div>
	</div>
	<hr/>
</div>

	
